.valgt {
  background-color: khaki;
}

button {
  border-style: none;
  height: 4rem;
  width: 12rem;
  font-family: 'Courier New', Courier, monospace;
  background-color: darkkhaki;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
  background-color: whitesmoke;
}

main {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  height: 250px;
  text-align: center;
  padding-inline-start: 0px;
  background-color: khaki;
}

.logo{
  max-width: 15%;
}

#popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: scroll;
}

#popup article {
  flex-direction: column;
  width: 33vw;
  margin: 6rem auto;
  background-color: #ffffff;
  height: 66vh;
  text-align: center;
}

#popup h2 {
  margin: 15px;
}

#luk {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  padding: 1em;
  font-size: 1.7em;
  font-weight: bolder;
  color: white;
}

#menu :hover {
  background-color: lightgrey;
}

.col-1{
  display: flex;
  flex: 1;
  max-width: 200px;
}

.col-2 {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 10px;
  flex-direction: column;
  height: 318px;
}

footer {
  width: 100vw;
  height: 100vh;
}

p {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin: 10px;
}

.icon {
  max-width: 10%;
  float: left;
  margin-top: 7px;
}

ul {
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  text-decoration: underline;
}

.col-2 p {
  font-weight: bold;
}

.col-2 .kortBeskrivelse {
  max-width: 18ch;
}

.pris {
  align-self: flex-end;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: auto;
  text-decoration: underline;
}

nav {
  margin: 0;
  width: 100vw;
  height: 4rem;
  background-color: darkkhaki;
  left: 0;
  top: 0;
}